@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Raleway:wght@500&display=swap');

:root {
    --btn-global-color: #7c1b7f;
    --btn-hover-color: #8d2891;
    --btn-active-color: #3f1c53;
    --header-color: #272a59;
    --gloabl-background-color: #2b0936;
    --highlight-modal-color: #536993;
    --global-box-shadow: 1px 1px 5px 0px #000;
    font-family: 'Manrope', sans-serif;
    font-size: clamp(1rem, 1.2rem, 1.5rem);
}

body {
    background-color: var(--gloabl-background-color);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: var(--header-color);
    color: white;
    width: 100%;
    height: 75px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-shadow: var(--global-box-shadow);
}

button {
    padding: 12px;
    border: none;
    background-color: var(--btn-global-color);
    box-shadow: var(--global-box-shadow);
    color: white;
    border-radius: 12px;
}

button:hover {
    background-color: var(--btn-hover-color);
}

button:active {
    background-color: var(--btn-active-color);
    box-shadow: inset var(--global-box-shadow);
}

#logo {
    color: white;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    height: calc(100vh - 125px);
    align-items: center ;
    justify-content: center;
    align-content: center;
}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border: 4px solid black;
    box-shadow: var(--global-box-shadow);
    border-radius: 40px;
}

.board-square {
    display: flex;
    border: 2px solid black;
}

#game-controls {
    display: grid;
    justify-content: center;
    align-items: center;
}

dialog {
    width: 250px;
    height: 500px;
}

footer {
    display: flex;
    background-color: var(--header-color);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}